<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>所有订单</title>
    <link rel="stylesheet" type="text/css" href="../../../css/order.css"  th:href="@{/css/order.css}">
</head>
<body>
    <div class="header">
        <a id="m" href="/food_store/home/home.html" th:href="@{/}">
            <img src="../../../images/m.jpg" th:src="@{/images/m.jpg}" class="img-header">
        </a>
        <span class="text-header">所有订单</span>
    </div>
    
    <div id="container">
        <div class="order" th:each="order : ${orders}">
        <table class="table border-bt-2">
            <thead>
                <tr class="border-bt-1">
                    <th class="order-head">
                        <a href="/food_store/menu/menu.html" th:href="@{/order-form(orderId=${order.id})}" th:text="'订单'+ ${order.id}">订单1</a>
                    </th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th class="order-head">总价</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="orderline : ${order.getOrderLines()}">
                    <td class="count-column">
                            <button class="btn black font">数量</button>
                            <button class="count font" th:text=${orderline.getAmount()}>3</button>
                    </td>
                    <td class="picture-column">
                        <img src="../../../images/staple-1.png" th:src="@{${orderline.getFood().getSrc()}}">
                    </td>
                    <td class="description-column" th:text="${orderline.getFood().getName()}">
                        原味板烧鸡腿堡
                    </td>
                    <td class="cost-column font-gray">
                        ￥<span th:text="${orderline.getProduct()}">18.00</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    

    <div class="footer">
        <a href="/food_store/menu/menu.html" th:href="@{/menu}">
            <button class="btn red btn-radius font mg-tp-10">返回菜单</button>
        </a>
        <button class="btn black btn-radius font mg-tp-10">登出</button>
    </div>
</body>
</html>